<p>temperature-converter works!</p>
<div class="layout-column align-items-center mt-50">
    <section class="layout-row align-items-center justify-content-between">
        <label>Fahrenheit: </label>
        <input [(ngModel)]="inputFahrenheit" (ngModelChange)="changed($event, 'inputFahrenheit')" type="number" class="large" data-test-id="fahrenheit-input"/>
    </section>

    <section class="layout-row align-items-center justify-content-between">
        <label>Celsius: </label>
        <input [(ngModel)]="inputCelsius" (ngModelChange)="changed($event, 'inputCelsius')" type="number" class="large" data-test-id="celsius-input"/>
    </section>
</div>